.mainclass{
    font-family: 'Montserrat';

}
.tablesuper{
  margin-top: 40px;
}

.selectCursor {
  cursor: pointer;
  color: #000;
}
.selectCursor:hover{
  background-color: #255d80;
  color: #fff;
}



.checked {
  margin: 15px
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 1.25em 0 !important;
}

.btn-primary {
  margin-left: 15px;
  width: 200px;
  cursor: pointer;
}

th {
  background: #255d80 !important;
  color: #fff;
  font-weight: 300 !important;
}

.imgCard {
  width: 215px;
  height: 185px;
  margin: 10px;
}

.imageNow {
  width: 180px;
  height: 145px;
}

.matIcon {
  background-color: #255d80 !important;
}
.btnCtrl{
  background-color: #255d80 ;
}
.btnCtrl:focus{
  outline: none;
}
td {
  background: #fff;
}

.button:focus {
  outline: none !important;
}

.mat-icon-button:focus {
  outline: none !important;
}
.matImg{
  width: 185px;
  height: 145px;
}
h5{
  font-size: 16px;
  font-weight: 600;
}

.newNow {
  margin-top: 10px;
  background: #ebedef;
  font-size: 14px;
  font-weight: 600;
  color: rgb(25, 45, 65);
  margin: 15px;
}
.pageBoxLg {
  border: 1px solid #c8ced3;
  color: #3f51b5;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 13px;
  background-color: #ebedef !important;
  margin: 25px;
  margin-top: 58px;
}
td{
  background-color: rgb(245, 245, 245);
}
.addButtons {
  margin: 10px;
  background-color: #255d80;
  color: #fff;
  border-radius: 27%;
}

.addButtons:focus {
  outline: none; 
}
.loader{
  margin-top: 100px;
  width: 300px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}