<div class="grid">
  <div class="row gridRow">
    <div class="col-md-3">
      <div class="form-group">
          
        <mat-form-field>
          <mat-label>Brand</mat-label>
          
          <mat-select [disabled]="!editProductModel?.brandEdit"
           (selectionChange)="updateBrandEvent($event, brandModel)"
            [(value)]="brandId">
            <mat-option *ngFor="let brand of  brandModel" [value]="brand._id">
              {{brand?.brandName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group" [hidden]="editProductModel?.brandEdit">
        <mat-icon class="rowEdit" (click)="brandEdit()">edit</mat-icon>
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group">
        {{selectedBrand?.brandTitle}}
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-group">
        <img [src]="brandImageUrl + brandId + '/' + selectedBrand?.brandImageName" style="width: 280px; height: 245px;" />
      </div>
    </div>
  </div>
</div>