<div style="background-color:rgba(255, 250, 250, 0.123);height: 40px;border: #000 " class="container-fluid">
  <p style="padding-top: 21px;padding-left: 20px"> Product /  Product Tag / Add</p>
  </div>
<mat-card class="pageBoxLg" style="background: #e4e5e6">
<form [formGroup]="productTagsForm" (ngSubmit)="productTagsForm.valid  && addProductTag(productTagsForm)">
    <div class="flex grid">
        <div class="card">
          <div class="flex gridBody">
            <div class="gridField">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Tags Name</mat-label>
                  <input matInput placeholder="Tags Name" formControlName="tagName" required>
                  <mat-error *ngIf="productTagsForm.controls['tagName'].errors?.required">
                    Tags Name
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Position</mat-label>
                    <input matInput placeholder="Position" formControlName="position" type="number" >
                    
                  </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid" formArrayName="tagValue">
          <div class="row gridRow">
            <div class="col-md-2">
          
            </div>
            <div class="col-md-10">
    
            </div>
          </div>
          <div class="row gridRow" *ngFor="let account of productTagValueForms.controls; let i=index"
            [formGroupName]="i">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Tag Value Name</mat-label>
                  <input matInput formControlName="tagValueName" placeholder="Tag Value Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4" style="padding: 10px;">
              <div class="form-group">
                <a (click)="deleteProductTagValue(i)">
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row buttons">
            <div class="col-md-5 col-8">
      
            </div>
            <div class="col-md-1 col-2">
              <div class="form-group  float-right">
                <!-- <button mat-flat-button color="primary" (click)="addProductTag()">Save</button> -->
                <button mat-flat-button color="primary" type="submit">Save</button>
                <!-- <input	mat-flat-button color="primary"
                 type="submit" value="save"> -->
              </div>
            </div>
            <div class="col-md-1 col-2">
              <div class="form-group float-right">
                  <button mat-flat-button color="primary" (click)="cancelTag()">Cancel</button>
                <!-- <input 	mat-flat-button color="primary" (click)="cancelTag()" type="button" value="cancel"> -->
              </div>
            </div>
          </div>
</form>
</mat-card>


<!-- <div class="pageBoxLg">
  <form [formGroup]="productTagsForm" (ngSubmit)="productTagsForm.valid  && addProductTag(productTagsForm)">
      <div class="flex grid">
          <div class="card">
            <div class="flex gridBody">
              <div class="gridField">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Tags Name</mat-label>
                    <input matInput placeholder="Tags Name" formControlName="tagName" required>
                    <mat-error *ngIf="productTagsForm.controls['tagName'].errors?.required">
                      Tags Name
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Position</mat-label>
                      <input matInput placeholder="Position" formControlName="position" type="number" >
                      
                    </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid" formArrayName="tagValue">
            <div class="row gridRow">
              <div class="col-md-2">
            
              </div>
              <div class="col-md-10">
      
              </div>
            </div>
            <div class="row gridRow" *ngFor="let account of productTagValueForms.controls; let i=index"
              [formGroupName]="i">
              <div class="col-md-4">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Tag Value Name</mat-label>
                    <input matInput formControlName="tagValueName" placeholder="Tag Value Name">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4" style="padding: 10px;">
                <div class="form-group">
                  <a (click)="deleteProductTagValue(i)">
                    <mat-icon>clear</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-8 col-8">
        
              </div>
              <div class="col-md-2 col-2">
                <div class="form-group  float-right">
                  <input class="btn btn-md btn-danger"
                   type="submit" value="save">
                </div>
              </div>
              <div class="col-md-2 col-2">
                <div class="form-group float-right">
                  <input class="btn btn-md btn-primary" (click)="cancelTag()" type="button" value="cancel">
                </div>
              </div>
            </div>
  </form>
</div> -->