<form [formGroup]="measurementForm">
  <div class="row container">
    <div class="col-md-6">
        <mat-form-field>
            <mat-select #selectElem (selectionChange)="setNewUser(selectElem.value)"
            formControlName="superCategoryId"
              placeholder="Select Super Category">
              <mat-option *ngFor="let category of superCategoryModel" [value]="category._id">
                {{category.categoryName | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <mat-form-field >
            <mat-select #selectMain (selectionChange)="selectMainCategory(selectMain.value)"
            formControlName="mainCategoryId"
              placeholder="Select Main Category">
              <mat-option *ngFor="let category of mainCategoryModel" [value]="category._id">
                {{category.mainCategoryName | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div *ngIf="selectedDisable">
              <small style="color: red">Select Category </small>
            </div> -->
      </div>
      <div class="col-md-6"></div>
      

      <div class="col-md-6">
          <div style="margin-top: 15px" class="col-md-3 ">
              <mat-form-field >
                <mat-select #selectSub 
                formControlName="subCategoryId"
                  placeholder="Select Sub Category">
                  <mat-option *ngFor="let category of subCategoryModel" [value]="category._id">
                    {{category.subCategoryName | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div class="col-md-6"></div>
    <div class="col-md-6">
        <mat-form-field >
            <mat-label>Measurement Name</mat-label>
            <input matInput placeholder="Measurement Name" formControlName="measurementName">
          </mat-form-field>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <mat-form-field >
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount" formControlName="amount">
          </mat-form-field>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <mat-form-field >
            <mat-label>Discount</mat-label>
            <input matInput placeholder="Discount" formControlName="discount">
          </mat-form-field>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-10 round">
    <div class="col-md-10">
        <h4>
            Measurement Fit
          </h4>
      <div formArrayName="measurementType">
          <div *ngFor="let account of typeForms.controls; let i=index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-6 form-group">
                  <mat-form-field >
                      <mat-label>Type Name</mat-label>
                      <input matInput placeholder="Type Name" formControlName="typeName">
                    </mat-form-field>
              </div>
              <div class="col-md-6 form-group"></div>
              <div class="col-md-6 form-group">
                  <mat-form-field >
                      <mat-label>Type Description</mat-label>
                      <textarea matInput placeholder="Type Description" formControlName="typeDescription"></textarea>
                    </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                  <a (click)="deleteType(i)">
                      <mat-icon>clear</mat-icon>
                    </a>
              </div>
            </div>
          </div>
      </div>
      
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="addTypeForm()">Add</button>
      </div>
    </div>
    
    <div class="col-md-10 round">
    <div class="col-md-10 ">
      <div class="row">
          <h4>Around Bust Values</h4>
        <div class="col-md-12">
            <mat-form-field >
                <mat-label>Around Bust Minimun Value</mat-label>
                <input matInput placeholder="Minimum Value" formControlName="aroundBustMin">
              </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field >
                <mat-label>Around Bust Maximum Value</mat-label>
                <input matInput placeholder="Maximum Value" formControlName="aroundBustMax">
              </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field >
                <mat-label>Around Bust Description</mat-label>
                <textarea matInput placeholder="Around Bust Description" formControlName="aroundBustDescription"></textarea>
              </mat-form-field>
        </div>
        <div class="col-md-12">
          
                <label>
                  <input type="file" (change)="aroundBustImageUpload($event.target.files)" >
                </label>
                <div class="alert alert-danger" *ngIf="imageError">
                  <h4>Please Select the images</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 pb-2" *ngFor="let url of aroundBustImg">
                    <mat-card>
                      <img class="img-fluid" [src]="url" />
                    </mat-card>
                  </div>
                </div>
          
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
      <h4>Around Waist Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Above Waist Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="aroundAboveWaistMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Above Waist Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="aroundAboveWaistMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Above Waist Description</mat-label>
                    <textarea matInput placeholder="Around Above Waist Description" formControlName="aroundAboveWaistDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="aroundAboveWaistImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError1">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of aroundAboveWaistImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
        <h4>Blouse Length Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Blouse Length Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="blouseLengthMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Blouse Length Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="blouseLengthMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Blouse Length Description</mat-label>
                    <textarea matInput placeholder="Blouse Length Description" formControlName="blouseLengthDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="blouseLengthImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError2">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of blouseLengthImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
        <h4>Front Depth Neck Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Front Neck Depth Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="frontNeckDepthMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Front Neck Depth Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="frontNeckDepthMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Front Neck Depth Description</mat-label>
                    <textarea matInput placeholder="Front Neck Depth Description" formControlName="frontNeckDepthDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="frontNeckDepthImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError3">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of frontNeckDepthImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
        <h4>Back Neck Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Back Neck Depth Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="backNeckDepthMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Back Neck Depth Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="backNeckDepthMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Back Neck Depth Description</mat-label>
                    <textarea matInput placeholder="Back Neck Depth Description" formControlName="backNeckDepthDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="backNeckDepthImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError4">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of backNeckDepthImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
        <h4>Sleeve Length Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Sleeve Length Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="sleeveLengthMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Sleeve Length Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="sleeveLengthMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Sleeve Length Description</mat-label>
                    <textarea matInput placeholder="Sleeve Length Description" formControlName="sleeveLengthDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="sleeveLengthImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError5">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of sleeveLengthImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
        <h4>Around Arm Values</h4>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Arm Minimun Value</mat-label>
                    <input matInput placeholder="Minimum Value" formControlName="aroundArmMin">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Arm Maximum Value</mat-label>
                    <input matInput placeholder="Maximum Value" formControlName="aroundArmMax">
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field >
                    <mat-label>Around Arm Description</mat-label>
                    <textarea matInput placeholder="Around Arm Description" formControlName="aroundArmDescription"></textarea>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                    <label>
                      <input type="file" (change)="aroundArmImageUpload($event.target.files)" >
                    </label>
                    <div class="alert alert-danger" *ngIf="imageError6">
                      <h4>Please Select the images</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pb-2" *ngFor="let url of aroundArmImg">
                        <mat-card>
                          <img class="img-fluid" [src]="url" />
                        </mat-card>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10 round">
    <div class="col-md-10 ">
        <h4>Closing Side</h4>
        <div formArrayName="closingSide">
            <div *ngFor="let account of closingSideForms.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field >
                        <mat-label>Closing Side</mat-label>
                        <input matInput placeholder="Closing Side" formControlName="closingSide">
                      </mat-form-field>
                </div>
              <!--   <div class="col-md-6 form-group"></div> -->
                
                <div class="col-md-6 form-group">
                    <a (click)="deleteClosingSide(i)">
                        <mat-icon>clear</mat-icon>
                      </a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="addClosingSideForm()">Add</button>
      </div>
    </div>
      <div class="col-md-10 round">
      <div class="col-md-10">
          <h4>Closing With</h4>
          <div formArrayName="closingWith">
              <div *ngFor="let account of closingWithForms.controls; let i=index" [formGroupName]="i">
                <div class="row">
                  <div class="col-md-6 form-group">
                      <mat-form-field >
                          <mat-label>Closing With</mat-label>
                          <input matInput placeholder="Closing With" formControlName="closingWith">
                        </mat-form-field>
                  </div>
                <!--   <div class="col-md-6 form-group"></div> -->
                  
                  <div class="col-md-6 form-group">
                      <a (click)="deleteClosingWith(i)">
                          <mat-icon>clear</mat-icon>
                        </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-2">
          <button class="btn btn-primary" (click)="addClosingWithForm()">Add</button>
        </div>
        </div>
        <div class="col-md-10 round">
        <div class="col-md-10 ">
            <h4>Lining</h4>
            <div formArrayName="lining">
                <div *ngFor="let account of liningForms.controls; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-6 form-group">
                        <mat-form-field >
                            <mat-label>Lining</mat-label>
                            <input matInput placeholder="Lining" formControlName="lining">
                          </mat-form-field>
                    </div>
                  <!--   <div class="col-md-6 form-group"></div> -->
                    
                    <div class="col-md-6 form-group">
                        <a (click)="deleteLining(i)">
                            <mat-icon>clear</mat-icon>
                          </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="addLiningForm()">Add</button>
          </div>
        </div>
          <div class="col-md-10 text-center form-group">
            <button class="btn btn-primary" (click)="saveMeasurement()">Save</button>
          </div>
  </div>
</form>