<div class="pageBoxLg">
  <form [formGroup]="tailoringForm">
    <div class="row">
      <div class="col-md-12 form-group text-center">
        <!-- <label>Add Ready to wear</label> -->
      </div>
      <div class="col-md-5 form-group">
          <mat-form-field>
              <input matInput formControlName="serviceName" [ngModel]="holder?.serviceName"  type="text" placeholder="serviceName">
              <mat-error *ngIf="tailoringForm.controls['serviceName'].errors?.required">
                Service Name
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-7 form-group"></div>
      <div class="col-md-5 form-group">
          <mat-form-field>
              <input matInput formControlName="price" [ngModel]="holder?.price"  type="number" placeholder="Price">
              <mat-error *ngIf="tailoringForm.controls['price'].errors?.required">
                Price
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-7 form-group"></div>
      <div class="col-md-5 form-group">
          <mat-form-field>
              <input matInput formControlName="discount" [ngModel]="holder?.discount" type="number" placeholder="Discount">
            </mat-form-field>
      </div>
      <div class="col-md-7 form-group"></div>
      <div class="col-md-5 form-group">
        <mat-form-field>
          <mat-select formControlName="measurement" [ngModel]="holder?.measurement" 
          (ngModelChange)="holder?.measurement" placeholder="measurement" multiple>
            <mat-option *ngFor="let data of measurementData" [value]="data">
              {{data}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-7 form-group"></div>
      <div class="col-md-5 form-group">
        <mat-form-field>
          <mat-select formControlName="selectedCategory" [(ngModel)]="holder.selectedCategory"
          (ngModelChange)="holder?.selectedCategory" placeholder="Select Category">
            <mat-option *ngFor="let data of categoryData" [value]="data">
              {{data.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-7 form-group"></div>
      <div class="col-md-12" *ngIf="!isImageChanes">
        <img [src]="sizeGuideUrl + holder?._id + '/' + holder?.sizeChartCM" style="width: 180px; height: 145px;" />
        <mat-icon class="selectValue" (click)="changeImage()">edit</mat-icon>
    </div>
    <div class="col-md-12" *ngIf="isImageChanes">
        <label>
            <input type="file" (change)="handleFileInput($event.target.files)" >
          </label>
          <label *ngFor="let url of urls">
              <img class="img-fluid" [src]="url" width="100px" height="100px" />
          </label>
          <mat-icon (click)="cancelImageUpdate()">cancel</mat-icon>
    </div>
    <div class="col-md-12" *ngIf="!isImageChanesInches">
      <img [src]="sizeGuideUrl + holder?._id + '/' + holder?.sizeChartInches" style="width: 180px; height: 145px;" />
      <mat-icon class="selectValue" (click)="changeImageInches()">edit</mat-icon>
  </div>
  <div class="col-md-12" *ngIf="isImageChanesInches">
      <label>
          <input type="file" (change)="handleFileInputInches($event.target.files)" >
        </label>
        <label *ngFor="let url of urlInches">
            <img class="img-fluid" [src]="url" width="100px" height="100px" />
        </label>
        <mat-icon (click)="cancelImageUpdateInches()">cancel</mat-icon>
  </div>
      <div class="col-md-6 form-group text-center">
        <button class="btn" (click)="onSubmit()">Submit</button>
      </div>
      <div class="col-md-6 form-group text-center">
        <button class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>